/*
 * CustomInputNumber
 */
.integer-field {
  width: calc(48px * 3 + 8px * 2);
  display: flex;
  justify-content: space-between;
}

.integer-field__minus-button,
.integer-field__text-input,
.integer-field__plus-button {
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;
}

.integer-field__minus-button,
.integer-field__plus-button {
  background-color: #e1f5fe;
  border-color: #b3e5fc;
}

.integer-field__minus-button:disabled,
.integer-field__plus-button:disabled {
  background-color: #fafafa;
  border-color: #eeeeee;
}

.integer-field__text-input {
  font-size: 16px;
  line-height: 16px;
  text-align: center;
  background-color: #fff;
  border-color: #e0e0e0;
  color: #757575;
}

.integer-field__text-input:disabled {
  border-color: #eeeeee;
  color: #e0e0e0;
}

/*
 * Room
 */
.field-group {
  padding: 16px 0;
}

.field-group__title {
  font-size: 17px;
  font-weight: bold;
}

.field-group__field {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.field-group__field > label {
  font-size: 16px;
}

.field-group__field > label > span {
  color: #e0e0e0;
  font-size: 14px;
}

/*
 * RoomAllocation
 */
.form {
  box-sizing: content-box;
  width: calc((48px * 3 + 8px * 2) * 2);
  padding: 16px;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}

.form__title {
  font-size: 19px;
  font-weight: bold;
}

.form__message {
  padding: 8px 12px;
  border: 1px solid #b3e5fc;
  border-radius: 4px;
  margin-top: 16px;
  background-color: #e1f5fe;
  color: #4fc3f7;
  font-size: 14px;
}

.form__field-groups {
}

.form__field-groups > .field-group + .field-group {
  border-top: 1px solid #eeeeee;
}
